section#main-menu {}

#r-slider {
    color: #f5f5f5;
    margin-bottom: 60px;
    margin-top: 8rem;
}

#r-slider h4 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    outline: none;
    line-height: 120%;
    margin-bottom: 20px;
}

#r-slider span {
    color: #7a64ed;
}

#r-slider p {
    font-size: 14px;
    width: 100%;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 0.015em;
    text-transform: none;
    margin-bottom: 0;
    -webkit-transition: font 0.2s ease-out, margin 0.2s ease-out;
    transition: font 0.2s ease-out, margin 0.2s ease-out;
}

#r-slider .btn {
    font-size: 15px;
    padding: 1rem 3rem;
    border-radius: 2rem;
}

#r-slider .btn svg {
    margin-top: 3px;
    margin-left: 4px;
}

.owl-buttons {
    display: none;
}

.owl-next,
.owl-prev {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    margin: auto;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
}

.owl-prev {
    left: -35px;
}

.owl-next {
    right: -35px;
}

.owl-carousel:hover .owl-prev {
    left: -40px;
    opacity: 0.25;
}

.owl-carousel:hover .owl-next {
    right: -40px;
    opacity: 0.25;
}

.owl-carousel:hover .owl-next:hover,
.owl-carousel:hover .owl-prev:hover {
    color: #fff;
    opacity: 1;
}

.owl-outer-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    z-index: 0;
}

.owl-outer-nav .owl-next,
.owl-outer-nav .owl-pagination,
.owl-outer-nav .owl-prev,
.owl-outer-nav .owl-wrapper-outer {
    z-index: 1;
}

.owl-outer-nav .owl-controls {
    position: static;
}

.owl-outer-nav .owl-prev {
    left: -65px;
}

.owl-outer-nav .owl-next {
    right: -65px;
}

.owl-outer-nav:hover .owl-prev {
    left: -80px;
}

.owl-outer-nav:hover .owl-next {
    right: -80px;
}

.owl-ui-md .owl-pagination {
    line-height: 45px;
}

.owl-ui-md .owl-next,
.owl-ui-md .owl-prev {
    width: 45px;
    height: 45px;
    font-size: 45px;
}

.owl-ui-md .owl-prev {
    left: -55px;
}

.owl-ui-md .owl-next {
    right: -55px;
}

.owl-ui-md:hover .owl-prev {
    left: -60px;
}

.owl-ui-md:hover .owl-next {
    right: -60px;
}

.owl-outer-nav.owl-ui-md:after {
    left: -18%;
    width: 136%;
}

.owl-outer-nav.owl-ui-md .owl-prev {
    left: -85px;
}

.owl-outer-nav.owl-ui-md .owl-next {
    right: -85px;
}

.owl-outer-nav.owl-ui-md:hover .owl-prev {
    left: -100px;
}

.owl-outer-nav.owl-ui-md:hover .owl-next {
    right: -100px;
}

.owl-ui-lg .owl-pagination {
    line-height: 30px;
}

.owl-ui-lg .owl-next,
.owl-ui-lg .owl-prev {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.owl-ui-lg .owl-prev {
    left: -75px;
}

.owl-ui-lg .owl-next {
    right: -75px;
}

.owl-ui-lg:hover .owl-prev {
    left: -80px;
}

.owl-ui-lg:hover .owl-next {
    right: -80px;
}

.owl-outer-nav.owl-ui-lg:after {
    left: -22%;
    width: 144%;
}

.owl-outer-nav.owl-ui-lg .owl-prev {
    left: -105px;
}

.owl-outer-nav.owl-ui-lg .owl-next {
    right: -105px;
}

.owl-outer-nav.owl-ui-lg:hover .owl-prev {
    left: -120px;
}

.owl-outer-nav.owl-ui-lg:hover .owl-next {
    right: -120px;
}

.owl-inner-nav .owl-controls {
    position: static;
}

.owl-inner-nav .owl-prev {
    left: 45px;
}

.owl-inner-nav .owl-next {
    right: 45px;
}

.owl-inner-nav:hover .owl-prev {
    left: 30px;
}

.owl-inner-nav:hover .owl-next {
    right: 30px;
}

.owl-outer-nav .owl-next,
.owl-outer-nav .owl-prev {
    bottom: 70px;
}

.owl-inner-nav .owl-next,
.owl-inner-nav .owl-prev {
    bottom: 70px;
}

.owl-outer-nav.owl-ui-md .owl-next,
.owl-outer-nav.owl-ui-md .owl-prev {
    bottom: 85px;
}

.owl-inner-nav.owl-ui-md .owl-next,
.owl-inner-nav.owl-ui-md .owl-prev {
    bottom: 85px;
}

.owl-outer-nav.owl-ui-lg .owl-next,
.owl-outer-nav.owl-ui-lg .owl-prev {
    bottom: 100px;
}

.owl-inner-nav.owl-ui-lg .owl-next,
.owl-inner-nav.owl-ui-lg .owl-prev {
    bottom: 100px;
}

.owl-inner-pagination .owl-next,
.owl-inner-pagination .owl-pagination,
.owl-inner-pagination .owl-prev {
    margin-top: -40px;
    top: -60px;
}

.owl-inner-pagination.owl-ui-md .owl-next,
.owl-inner-pagination.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-ui-md .owl-prev {
    margin-top: -50px;
    top: -65px;
}

.owl-inner-pagination.owl-ui-lg .owl-next,
.owl-inner-pagination.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-ui-lg .owl-prev {
    margin-top: -60px;
    top: -75px;
}

.owl-inner-pagination.owl-outer-nav .owl-next,
.owl-inner-pagination.owl-outer-nav .owl-prev {
    margin: auto;
    top: 0;
    bottom: 43px;
}

.owl-inner-pagination.owl-inner-nav .owl-next,
.owl-inner-pagination.owl-inner-nav .owl-prev {
    margin: auto;
    top: 0;
    bottom: 43px;
}

.owl-inner-pagination .owl-pagination {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0;
}

.owl-inner-pagination:hover .owl-pagination {
    opacity: 1;
}

.owl-inner-pagination.owl-inner-nav .owl-pagination,
.owl-inner-pagination.owl-outer-nav .owl-pagination {
    top: -45px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-pagination {
    top: -50px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-inner-nav:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-pagination,
.owl-inner-pagination.owl-outer-nav:hover .owl-pagination {
    top: -60px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-pagination {
    top: -65px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-pagination,
.owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
    top: -75px;
}

#owl-main .item {
    height: 44vh;
    background-position: center 55%;
    background-size: cover;
}

#owl-main.height-md .item {
    height: 61vh;
}

#owl-main.height-lg .item {
    height: 90vh;
}

#owl-main .container {
    display: table;
    height: inherit;
}

#owl-main .caption {
    display: table-cell;
}

#owl-main .caption.vertical-center {
    vertical-align: middle;
    padding-bottom: 3vh;
    text-align: center;
}

#owl-main .caption.vertical-top {
    vertical-align: top;
}

#owl-main .caption.vertical-bottom {
    vertical-align: bottom;
    padding-bottom: 14vh;
}

#owl-main .caption.text-center {
    padding-left: 10%;
    padding-right: 10%;
}

#owl-main .caption.text-left {
    padding-right: 20%;
}

#owl-main .caption.text-right {
    padding-left: 20%;
}

#owl-main .caption div,
#owl-main .caption h1,
#owl-main .caption p {
    position: relative;
}

#owl-main .caption h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #f5f5f5;
}

#owl-main .caption p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
